<%= render :partial => 'shared/user_layout' %>
<%= paginate @forums %>
<div class="container-fluid">
	<div class="list-group">
		<% @forums.each do |f| %>
			<%=link_to f.name, demo_forum_posts_path(f.id), {:class=>"list-group-item"} %>
		<% end %>
	</div>
</div>

