<%= render :partial => 'shared/user_layout' %>

<%= form_for @post, :url => demo_forum_posts_path, :html => {:class => 'form-style'} do |f| %>
	<%= render :partial => 'form', :locals => {:f => f, :submit_text => "Create"} %>
<% end %>


<% if @post.errors.any? %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
